* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #0f1a40, #1e3a8a);
  color: white;
  height: 80px;
  padding: 20px;
  border-bottom: 1px solid white;
  border-radius: 0 0 10px 10px;
}

input {
  background: #0f1a40;
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: large;
}

/* Main styling */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #1e3a8a, #4a90e2);
  border-top: 1px solid white;
  border-radius: 10px;
  color: white;
  gap: 50px;
  justify-content: space-around;
}

#current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#city-name {
  font-size: 50px;
}

#icon-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#icon-container,
#current-temp {
  display: block;
}

#current-temp {
  font-size: 200px;
  line-height: 1;
}

#description {
  font-size: 20px;
}

/* Weekly forecast */

#week-weather {
  display: flex;
  gap: 20px;
}

.day {
  background-color: #1e3a8a;
  border-radius: 10px;
  height: 120px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temps {
  display: flex;
  gap: 15px;
}

/* Celsius or Fahrenheit */
#temp-unit {
  display: flex;
  align-items: flex-start; /* keeps buttons near the degree */
  gap: 10px;
}

#unit-toggle {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* fine-tune vertical alignment */
}

.unit {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.unit.active {
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
}
